In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
covid_data=pd.read_csv(r"C:/Users/sadham/Downloads/data/covid_data.csv")
cardio_base=pd.read_csv(r"C:/Users/sadham/Downloads/data/cardio_base.csv")
cardio_alco=pd.read_csv(r"C:/Users/sadham/Downloads/data/cardio_alco.csv")

In [4]:
covid_data.isnull().sum()

location                         0
date                             0
new_cases                        0
new_deaths                       0
population                      64
aged_65_older_percent         2439
gdp_per_capita                2371
hospital_beds_per_thousand    3938
dtype: int64

In [27]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23082 entries, 0 to 23081
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    23082 non-null  object
 1   date                        23082 non-null  object
 2   new_cases                   23082 non-null  int64
 3   new_deaths                  23082 non-null  int64
 4   population                  23082 non-null  float64
 5   aged_65_older_percent       23082 non-null  float64
 6   gdp_per_capita              20711 non-null  float64
 7   hospital_beds_per_thousand  19144 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.4+ MB

In [18]:
covid_data['population'].min()
covid_data['population']=covid_data['population'].fillna(covid_data['population'].median())

In [20]:
covid_data

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
23077,International,2020-02-28,0,0,9449321.0,NaN,NaN,NaN
23078,International,2020-02-29,0,2,9449321.0,NaN,NaN,NaN
23079,International,2020-03-01,0,0,9449321.0,NaN,NaN,NaN
23080,International,2020-03-02,0,0,9449321.0,NaN,NaN,NaN
23081,International,2020-03-10,-9,1,9449321.0,NaN,NaN,NaN

In [26]:
covid_data['aged_65_older_percent']=covid_data['aged_65_older_percent'].fillna(covid_data['aged_65_older_percent'].median())

In [ ]:
covid_data

In [28]:
cardio_base

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0          0  18393       2     168    62.0    110     80            1      0
1          1  20228       1     156    85.0    140     90            3      0
2          2  18857       1     165    64.0    130     70            3      0
3          3  17623       2     169    82.0    150    100            1      0
4          4  17474       1     156    56.0    100     60            1      0
...      ...    ...     ...     ...     ...    ...    ...          ...    ...
69995  99993  19240       2     168    76.0    120     80            1      1
69996  99995  22601       1     158   126.0    140     90            2      0
69997  99996  19066       2     183   105.0    180     90            3      0
69998  99998  22431       1     163    72.0    135     80            1      0
69999  99999  20540       1     170    72.0    120     80            2      0

[70000 rows x 9 columns]

In [29]:
age_groups = cardio_base.groupby('age')['weight'].mean().astype(int)

In [30]:
age_groups

age
10798     92
10859     59
10878     59
10964     59
14275    105
        ...
23687     55
23690     63
23692     68
23701     75
23713     75
Name: weight, Length: 8076, dtype: int32

In [31]:
highest_avg_weight_group = age_groups.idxmax()
highest_avg_weight = age_groups.max()

print(f"Age group with highest average weight: {highest_avg_weight_group}")
print(f"Highest average weight: {highest_avg_weight}")

Age group with highest average weight: 15086
Highest average weight: 165

In [32]:
weight_difference = abs(age_groups.max() - age_groups.min())

print(f"Absolute difference in weight: {weight_difference}")

Absolute difference in weight: 154

In [34]:
age_groups = cardio_base.groupby('age')['weight'].mean()

# Calculate total number of rows (assuming all rows have weight data)
total_rows = len(cardio_base)

def calculate_percentage_difference(series):
  """
  This function calculates the percentage difference between the maximum and minimum values in a pandas Series, 
  accounting for the total number of rows (assuming all rows have weight data).
  """
  max_value = series.max()
  min_value = series.min()
  if max_value == min_value:
    return 0  # Handle case where all weights are the same
  difference = abs(max_value - min_value)
  # Calculate weighted average weight using mean and total rows
  average_weight = series.mean()
  # Calculate percentage difference with respect to average weight
  percentage_difference = (difference / average_weight) * 100
  return percentage_difference

percentage_difference = calculate_percentage_difference(age_groups)

print(f"Percentage difference in weight: {percentage_difference:.2f}%")

Percentage difference in weight: 208.35%

In [38]:
c=cardio_base.groupby('age')['weight'].min()

In [39]:
c

age
10798     92.0
10859     59.0
10878     59.0
10964     59.0
14275    105.0
         ...
23687     55.0
23690     63.0
23692     68.0
23701     75.0
23713     75.0
Name: weight, Length: 8076, dtype: float64

In [40]:
import pandas as pd



# Assuming 'age' is in days, convert it to years and round down
cardio_base['age'] = (cardio_base['age'] / 365).astype(int)

# Group by 'age' and calculate the average weight
age_weights = cardio_base.groupby('age')['weight'].mean()

# Find the difference between the maximum and minimum average weight
weight_diff = age_weights.max() - age_weights.min()

print(f'The difference in average weight between the age groups is {weight_diff} units.')

The difference in average weight between the age groups is 16.873720760233923 units.

In [55]:
cardio_base['gender'].unique()

array([2, 1], dtype=int64)

In [43]:
import pandas as pd

# Assuming 'cardio_base' is your DataFrame and 'age' is in years
over_50 = cardio_base[cardio_base['age'] > 50]['cholesterol'].mean()
rest = cardio_base[cardio_base['age'] <= 50]['cholesterol'].mean()

if over_50 > rest:
    print("Yes, people over 50 have higher cholesterol levels than the rest.")
else:
    print("No, people over 50 do not have higher cholesterol levels than the rest.")

Yes, people over 50 have higher cholesterol levels than the rest.

In [45]:
import pandas as pd

# Assuming 'cardio_base' is your DataFrame

over_50 = cardio_base[cardio_base['age'] > 50]['cholesterol'].mean()
rest = cardio_base[cardio_base['age'] <= 50]['cholesterol'].mean()

# Calculate the difference in cholesterol levels
difference = over_50 - rest

# Choose a reference point for percentage calculation (average is common)
average_cholesterol = cardio_base['cholesterol'].mean()

# Calculate the percentage difference
percentage_difference = (difference / average_cholesterol) * 100

print(f"Percentage difference in cholesterol: {percentage_difference:.2f}%")

Percentage difference in cholesterol: 13.41%

In [52]:
smoker=cardio_base.groupby('gender')['smoke'].size()

In [53]:
smoker

gender
1    45530
2    24470
Name: smoke, dtype: int64

In [61]:
cardio_base['height']

height
55      1
57      1
59      1
60      1
64      1
       ..
197     4
198    14
200     1
207     1
250     1
Length: 109, dtype: int64

In [62]:
import pandas as pd

# Assuming 'cardio_base' is your DataFrame

# 1. Sort heights in descending order
sorted_heights = cardio_base['height'].sort_values(ascending=False)

# 2. Calculate the number of people (1% of total)
total_people = len(sorted_heights)
num_tallest_1_percent = int(total_people * 0.01)

# 3. Get the height of the n-th person (where n is the number of tallest people)
tallest_1_percent_height = sorted_heights.iloc[num_tallest_1_percent - 1]

print(f"Height of the tallest 1%: {tallest_1_percent_height:.2f} cm")  # Format to two decimal places

Height of the tallest 1%: 184.00 cm

In [64]:
import pandas as pd
from scipy.stats import spearmanr

def find_highest_spearman_correlation(dataframe):
  """
  This function finds the two features in a DataFrame with the highest Spearman rank correlation coefficient.

  Args:
      dataframe: A pandas DataFrame containing the features.

  Returns:
      A tuple containing the names of the two features with the highest correlation and their correlation coefficient.
  """

  # Create an empty dictionary to store correlation coefficients
  correlation_matrix = {}

  # Iterate through all feature pairs (excluding duplicates)
  for col1 in dataframe.columns:
    for col2 in dataframe.columns:
      if col1 != col2:
        # Calculate Spearman rank correlation coefficient
        correlation, _ = spearmanr(dataframe[col1], dataframe[col2])
        # Store correlation coefficient with feature pair as key
        correlation_matrix[(col1, col2)] = correlation

  # Find the feature pair with the highest correlation
  highest_correlation = max(correlation_matrix.values())
  highest_correlation_pair = max(correlation_matrix, key=correlation_matrix.get)

  return highest_correlation_pair, highest_correlation



highest_corr_pair, highest_corr_value = find_highest_spearman_correlation(cardio_base.copy())  # Avoid modifying original data

print(f"Features with highest Spearman correlation: {highest_corr_pair}")
print(f"Highest correlation coefficient: {highest_corr_value:.4f}")

Features with highest Spearman correlation: ('ap_hi', 'ap_lo')
Highest correlation coefficient: 0.7354

In [65]:
import pandas as pd

def find_outliers_by_std(data, column_name, num_std):
  """
  This function finds the percentage of data points that fall outside a certain number of standard deviations from the mean.

  Args:
      data: A pandas DataFrame.
      column_name: The name of the column containing the numeric data.
      num_std: The number of standard deviations to consider as the threshold (positive or negative).

  Returns:
      The percentage of data points outside the specified standard deviation range.
  """

  # Calculate mean and standard deviation
  mean = data[column_name].mean()
  std = data[column_name].std()

  # Define the threshold for outliers (above and below mean)
  lower_bound = mean - (num_std * std)
  upper_bound = mean + (num_std * std)

  # Filter outliers
  outliers = data[(data[column_name] < lower_bound) | (data[column_name] > upper_bound)]

  # Calculate percentage of outliers
  percentage_outliers = (len(outliers) / len(data)) * 100

  return percentage_outliers

# Example usage
num_std_dev = 2  # Considering 2 standard deviations
percentage_outliers_height = find_outliers_by_std(cardio_base.copy(), "height", num_std_dev)

print(f"Percentage of people outside {num_std_dev} standard deviations of average height: {percentage_outliers_height:.2f}%")

Percentage of people outside 2 standard deviations of average height: 3.34%

In [82]:
import pandas as pd

# Assuming 'cardio_base' and 'cardio_alco' are your DataFrames

# 1. Merge DataFrames on 'ID'
merged_data = pd.merge(cardio_base, cardio_alco, on='id', how='inner')

# 2. Filter for over 50 years old with alcohol consumption data
filtered_data = merged_data[(merged_data['age'] > 50) & merged_data['alcohol مصرف (yes/no)'].notnull()]  # Assuming "الكحول مصرف (yes/no)" is the alcohol consumption column (replace with actual name)

# 3. Count people who consume alcohol
alcohol_consumers = filtered_data[filtered_data['alcohol مصرف (yes/no)'] == 'yes'].shape[0]

# 4. Calculate total population over 50
total_over_50 = filtered_data.shape[0]

# 5. Calculate percentage
percentage_consumers = (alcohol_consumers / total_over_50) * 100

print(f"Percentage of people over 50 who consume alcohol: {percentage_consumers:.2f}%")

ValueError: You are trying to merge on int64 and object columns for key 'id'. If you wish to proceed you should use pd.concat

In [75]:
cardio_alco[['id', 'alcohol مصرف (yes/no)']] = cardio_alco['id;alco'].str.split(';', expand=True)

In [79]:
cardio_alco.drop(columns='id;alco',inplace=True)

In [80]:
cardio_alco

          id alcohol مصرف (yes/no)
0         44                     0
1         45                     0
2         46                     0
3         47                     0
4         49                     0
...      ...                   ...
56898  99949                     0
56899  99950                     0
56900  99951                     0
56901  99952                     0
56902  99954                     0

[56903 rows x 2 columns]

In [92]:
import pandas as pd

# Assuming 'cardio_base' and 'cardio_alco' are your DataFrames containing 'ID' (case-sensitive) and 'alcohol مصرف (yes/no)' (replace with actual name) columns

# 2. Merge DataFrames on 'ID'
merged_df = pd.merge(cardio_base, cardio_alco, on='id', how='inner')

# 3. Filter for over 50 years old with alcohol consumption data
filtered_df = merged_df[(merged_df['age'] > 50) & merged_df['alcohol مصرف (yes/no)'].notnull()]

# 4. Count people who consume alcohol
alcohol_consumers = filtered_df[filtered_df['alcohol مصرف (yes/no)'] == 'yes'].shape[0]

# 5. Calculate total population over 50
total_over_50 = filtered_df.shape[0]

# 6. Calculate percentage
percentage_consumers = (alcohol_consumers / total_over_50) * 100

print(f"Percentage of people over 50 who consume alcohol: {percentage_consumers:.2f}%")

Percentage of people over 50 who consume alcohol: 0.00%

alcohol مصرف (yes/no)
0    35064
1     1810
dtype: int64

In [91]:
# Assuming conversion is possible (based on previous checks)
cardio_alco['id'] = cardio_alco['id'].astype(int)

# Now you can use the 'id' column for integer operations (if applicable)

In [104]:
merged_df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,alcohol مصرف (yes/no)
0,44,40,1,159,60.0,110,70,1,0,0
1,45,56,1,160,73.0,130,85,1,0,0
2,46,60,2,173,82.0,140,90,3,0,0
3,47,55,1,163,55.0,120,80,1,0,0
4,49,50,2,175,95.0,120,80,1,0,0
...,...,...,...,...,...,...,...,...,...,...
56898,99949,57,1,178,69.0,130,90,1,0,0
56899,99950,53,2,155,76.0,130,90,1,0,0
56900,99951,61,2,170,72.0,120,80,1,0,0
56901,99952,42,2,165,66.0,120,80,1,0,0
56902,99954,55,1,156,67.0,140,80,2,0,0

In [106]:
import pandas as pd

# Assuming 'merged_df' is your DataFrame with 'age', 'alcohol مصرف (yes/no)', and 'population' features

# 1. Filter for people over 50 who consume alcohol
filtered_df = merged_df[(merged_df['age'] > 50) & (merged_df['alcohol مصرف (yes/no)'] == '1')]

# 2. Calculate total population over 50 (consider population weight)
total_over_50 = filtered_df['population'].sum()

# 3. Calculate total alcohol consumers over 50 (consider population weight)
alcohol_consumers = filtered_df[filtered_df['alcohol مصرف (yes/no)'] == 'yes']['population'].sum()

# 4. Calculate weighted percentage
percentage_consumers = (alcohol_consumers / total_over_50) * 100

print(f"Percentage of people over 50 who consume alcohol: {percentage_consumers:.2f}%")

KeyError: 'population'

In [105]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56903 entries, 0 to 56902
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     56903 non-null  int64
 1   age                    56903 non-null  int32
 2   gender                 56903 non-null  int64
 3   height                 56903 non-null  int64
 4   weight                 56903 non-null  float64
 5   ap_hi                  56903 non-null  int64
 6   ap_lo                  56903 non-null  int64
 7   cholesterol            56903 non-null  int64
 8   smoke                  56903 non-null  int64
 9   alcohol مصرف (yes/no)  56903 non-null  object
dtypes: float64(1), int32(1), int64(7), object(1)
memory usage: 4.1+ MB

In [108]:
import pandas as pd

# Assuming 'merged_df' is your DataFrame with 'age' and 'alcohol مصرف (yes/no)' features

# 1. Filter for people over 50 who consume alcohol
filtered_df = merged_df[(merged_df['age'] > 50) & (merged_df['alcohol مصرف (yes/no)'] == '1')]

# 2. Calculate total population over 50 (assuming all rows represent individuals)
total_over_50 = filtered_df.shape[0]  # Count the number of rows in the filtered DataFrame

# 3. Calculate total alcohol consumers over 50
alcohol_consumers = filtered_df.shape[0]  # Count the number of rows in the filtered DataFrame

# 4. Calculate percentage
percentage_consumers = (alcohol_consumers / total_over_50) * 100

print(f"Percentage of people over 50 who consume alcohol: {percentage_consumers:.2f}%")

Percentage of people over 50 who consume alcohol: 100.00%

In [110]:
# Group DataFrame by smoking status
smoker_groups = merged_df.groupby('smoke')

# Calculate descriptive statistics for cholesterol (mean, standard deviation)
cholesterol_stats = smoker_groups['cholesterol'].describe(percentiles=[0.25, 0.5, 0.75])

print(cholesterol_stats)

         count      mean       std  min  25%  50%  75%  max
smoke
0      51864.0  1.365668  0.680689  1.0  1.0  1.0  1.0  3.0
1       5039.0  1.390554  0.682596  1.0  1.0  1.0  2.0  3.0

In [114]:
covid_data

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
23077,International,2020-02-28,0,0,9449321.0,7.646,NaN,NaN
23078,International,2020-02-29,0,2,9449321.0,7.646,NaN,NaN
23079,International,2020-03-01,0,0,9449321.0,7.646,NaN,NaN
23080,International,2020-03-02,0,0,9449321.0,7.646,NaN,NaN
23081,International,2020-03-10,-9,1,9449321.0,7.646,NaN,NaN

In [118]:
import pandas as pd

# Assuming 'covid_data' is your DataFrame with 'locations', 'date', and 'new_cases' features

# 1. Convert 'date' to datetime format (if necessary)
covid_data['date'] = pd.to_datetime(covid_data['date'])

# 2. Group data by date and location
daily_cases = covid_data.groupby(['date', 'location'])['new_cases'].sum().unstack()

# 3. Calculate daily difference between Italy and Germany
daily_difference = daily_cases['Italy'] - daily_cases['Germany']

# 4. Find the date when difference exceeds 10000 (first occurrence)
date_exceeded = daily_difference[daily_difference > 10000].index[0].date()

print(f"Difference in confirmed cases between Italy and Germany exceeded 10,000 on: {date_exceeded}")

IndexError: index 0 is out of bounds for axis 0 with size 0

In [116]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23082 entries, 0 to 23081
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    23082 non-null  object
 1   date                        23082 non-null  object
 2   new_cases                   23082 non-null  int64
 3   new_deaths                  23082 non-null  int64
 4   population                  23018 non-null  float64
 5   aged_65_older_percent       20643 non-null  float64
 6   gdp_per_capita              20711 non-null  float64
 7   hospital_beds_per_thousand  19144 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.4+ MB

In [117]:
covid_data['location'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus',
       'Czech Republic', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vatican',
       'Venezuela', 'Vietnam', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe', 'World', 'International'], dtype=object)

In [ ]:
import pandas as pd

# Assuming 'covid_data' is your DataFrame with 'locations', 'date', and 'new_cases' features

# 1. Convert 'date' to datetime format (if necessary)
covid_data['date'] = pd.to_datetime(covid_data['date'])

# 2. Group data by date and location
daily_cases = covid_data.groupby(['date', 'location'])['new_cases'].sum().unstack()

# 3. Calculate daily difference between Italy and Germany
daily_difference = daily_cases['Italy'] - daily_cases['Germany']

# 4. Find the date when difference exceeds 10000 (first occurrence)
date_exceeded = daily_difference[daily_difference > 10000].index[0].date()

print(f"Difference in confirmed cases between Italy and Germany exceeded 10,000 on: {date_exceeded}")

In [ ]:
covid_data['date']

In [123]:
daily_cases = covid_data.groupby(['date', 'location'])['new_cases'].sum()

In [127]:
daily_cases

KeyError: 'location'

In [129]:
import pandas as pd
from scipy.optimize import curve_fit

# Assuming 'covid_data' has a 'date' column and 'italy_cases' for cumulative cases in Italy

# 1. Filter data for Italy between specific dates
italy_data = covid_data[
    (covid_data['location'] == 'Italy') &
    (covid_data['date'] >= '2020-02-28') &
    (covid_data['date'] <= '2020-03-20')
]

# Assuming 'date' is already datetime format (if not, convert it)
dates = italy_data['date']

# 2. Extract cumulative cases for Italy
italy_cases = italy_data['italy_cases']

# 3. Define exponential function
def exponential_func(x, a, b):
  return a * np.exp(b * x)

# 4. Fit the curve using least squares minimization
parameters, covariance = curve_fit(exponential_func, dates, italy_cases)

# 5. Get fitted curve values for all dates (optional)
fitted_curve = exponential_func(dates, *parameters)

# 6. Calculate difference at specific date (2020-03-20)
target_date = pd.to_datetime('2020-03-20')
real_cases = italy_cases[dates == target_date].values[0]
fitted_value = exponential_func(target_date, *parameters)[0]
difference = abs(real_cases - fitted_value)

print("Fitted parameters:", parameters)
print(f"Difference between fitted value and real cases on {target_date.strftime('%Y-%m-%d')}: {difference:.2f}")

# You can also plot the fitted curve vs. real cases (optional)

KeyError: 'italy_cases'

In [134]:
import pandas as pd

# Assuming 'covid_data' has 'location', 'new_deaths', and 'population' features

# 1. Calculate death rate per million (assuming population represents total population)
covid_data['death_rate_per_million'] = (covid_data['new_deaths'] / covid_data['population']) * 1000000

# 2. Group by location and calculate average death rate
avg_death_rate = covid_data.groupby('location')['death_rate_per_million'].mean()

# 3. Sort by death rate (descending) and get the 3rd country
sorted_rates = avg_death_rate.sort_values(ascending=False)
third_highest_country = sorted_rates.index[2]

print(f"Country with the 3rd highest death rate: {third_highest_country}")

Country with the 3rd highest death rate: Belgium

In [131]:
covid_data

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
23077,International,2020-02-28,0,0,NaN,NaN,NaN,NaN
23078,International,2020-02-29,0,2,NaN,NaN,NaN,NaN
23079,International,2020-03-01,0,0,NaN,NaN,NaN,NaN
23080,International,2020-03-02,0,0,NaN,NaN,NaN,NaN
23081,International,2020-03-10,-9,1,NaN,NaN,NaN,NaN

In [135]:
import pandas as pd

# Assuming 'covid_data' has 'location', 'aged_65_older_percent', 'new_deaths', and 'population' features

# 1. Filter data with necessary information and aged_65_older_percent > 20%
filtered_data = covid_data.dropna(subset=['location', 'aged_65_older_percent', 'new_deaths', 'population'])
filtered_data = filtered_data[filtered_data['aged_65_older_percent'] > 20]

# 2. Calculate death rate per million (assuming population represents total population)
filtered_data['death_rate_per_million'] = (filtered_data['new_deaths'] / filtered_data['population']) * 1000000

# Print informative message
print(f"Data for countries where more than 20% of the population is over 65 years old:")
print(filtered_data[['location', 'aged_65_older_percent', 'death_rate_per_million']])

Data for countries where more than 20% of the population is over 65 years old:
       location  aged_65_older_percent  death_rate_per_million
3293   Bulgaria                 20.801                0.000000
3294   Bulgaria                 20.801                0.000000
3295   Bulgaria                 20.801                0.143917
3296   Bulgaria                 20.801                0.000000
3297   Bulgaria                 20.801                0.000000
...         ...                    ...                     ...
16933  Portugal                 21.502                0.980709
16934  Portugal                 21.502                0.882638
16935  Portugal                 21.502                0.490354
16936  Portugal                 21.502                0.588425
16937  Portugal                 21.502                0.686496

[1010 rows x 3 columns]

In [1]:
covid_data

NameError: name 'covid_data' is not defined

In [136]:
import pandas as pd

# Assuming 'covid_data' has 'gdp_per_capita' and 'hospital_beds_per_thousand' features

# Filter for countries with GDP > $10,000
high_gdp_countries = covid_data[covid_data['gdp_per_capita'] > 10000]

# Calculate number of countries with high GDP and sufficient hospital beds
high_gdp_enough_beds = high_gdp_countries[high_gdp_countries['hospital_beds_per_thousand'] >= 5]

# Calculate ratio (assuming total countries is available from 'covid_data')
if 'location' in covid_data.columns:
  total_countries = len(covid_data['location'].unique())
  ratio = len(high_gdp_enough_beds) / total_countries
  print(f"Ratio of countries with GDP > $10,000 and >= 5 hospital beds per 1000 inhabitants: {ratio:.2f}")
else:
  print("Information to calculate total countries unavailable.")

Ratio of countries with GDP > $10,000 and >= 5 hospital beds per 1000 inhabitants: 14.14